:root {
    --red: #dc4266;
    --blue: #3072e6;
    --background: #00032c;
    --white: #ffffffff;

    --profile-photo-size: 120px;

    font-family: 'Roboto', sans-serif;
}

h1,
p,
body,
button {
    margin: 0;
}

i {
    font-size: 24px
}

body {
    background: var(--background);
    color: var(--white);
}

main {

    margin: 0 auto;
    max-width: 500px;
    padding: 0 15px;

   
}

header {
    margin-top: 50px;
    display: flex;

    flex-direction: column;
    align-items: center;

    
}

h1 {
    color: var(--red);
    font-size: 24px;
    margin-top: 15px;
}

.occupation {
    margin-top: 5px;
}

.photo-container {
    overflow: hidden;
    width: var(--profile-photo-size);
    height: var(--profile-photo-size);
    border-radius: 100%;
    border: 10px solid var(--blue);
}

.profile-photo {
    margin-top: -10px;
    width: var(--profile-photo-size);
}



section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.link {
    background: yellow;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    height: 50px;

    width: 100%;
    max-width: 270px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    /* justify-content: center; */

    transition: all -1000ms;
}

.link:first-child {
    margin-top: 0;
}

.link:hover {
    filter: brightness(1.2);
    transform: translateX(-2px);
}

.link i {
    margin-right: 7px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

   
}

.call-me {
    text-align: center
}

footer i {
    margin-top: 15px;
    color: var(--blue)
}